/* == == == Header == == == */
header {background-color: var(--light) !important;}

.nav_link,
.action {
    color: var(--dark) !important;
}

/* == == == Sub Header == == == */
#sub_header {
    background-color: var(--light-d);
    width: 100%;
    position: relative;
    top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    transition: top var(--tr-fast) ease-in-out;
}

#sub_header a {
    text-transform: uppercase;
    color: var(--dark);
    padding: 12px 0;
    letter-spacing: var(--ls-small);
    font-size: var(--fs-par);
    position: relative;
    display: inline-block;
    transition: var(--tr-fast);
}

#sub_header .tab_active {
    color: var(--primary);
    font-weight: var(--fw-semi-bold);
}

#sub_header a::before {
    content: '';
    background-color: var(--secondary);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform var(--tr-medium) ease-in-out;
}

#sub_header a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* When the header disappears, the sub-header takes the position */
.sub_header_fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/* If header is visible, sub-header goes back down */
.sub_header_hidden {
    opacity: 0;
    pointer-events: none;
}

/* == == == Main == == == */
main {
    margin-top: 81px;
}

/* Text */
#text {padding: 45px 15px;}
#text h1 {margin-bottom: 30px;}
#text p {margin-bottom: 21px;}

#text a {
    text-decoration: underline;
    color: var(--dark);
    font-weight: var(--fw-light);
}

/* Tabs */
.tabs_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs_container > ul {
    overflow: hidden;
    box-shadow: 0 1px 6px var(--sh-light);
    border-radius:12px;
    background-color: var(--light);
    margin-top: 15px;
    width: 80%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabs_container li {width: 100%;}

.tabs_container li a{
    border-radius: 6px;
    color: var(--primary);
    font-weight: var(--fw-semi-bold);
    padding: 15px 0;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    transition: .3s;
}

.tabs_container li a:hover {
    background-color: var(--grey-l);
    color: var(--primary-d);
}

[aria-selected='true'] {
    background-color: var(--primary);
    color: var(--light) !important;
}

[aria-selected='true']:hover {
    background-color: var(--primary) !important;
    color: var(--light) !important;
}

.search {
    cursor: pointer;
    color: var(--primary);
    margin: 18px 0;
    font-size: var(--fs-h5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;
    z-index: var(--z-tooltip);
}

.search_btn {transition: var(--tr-medium) ease-in-out;}
.search_btn:hover {transform: scale(1.2);}

.close_btn {
    visibility: hidden;
    opacity: 0;
    scale: 0;
    transition: var(--tr-medium);
}

.search_box {
    background-color: var(--light);
    width: 75%;
    height: 60px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6px;
    transition: var(--tr-medium) ease-in-out;
}

.search_box.active {right: 0;}

.search_box input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--grey);
    background-color: var(--light);
    color: var(--dark-l);
    width: 100%;
    height: 40px;
    font-size: var(--fs-par);
}

.no_results {
    border-radius: 9px;
    background-color: var(--light-d);
    margin: 21px auto;
    padding: 9px;
    display: none;
    text-align: center;
}

/* Tabs panels */
.tabs_panels {
    margin-top: 30px;
    width: 100%;
}

/* Cards */
.card_container {
    margin: 9px 0;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article.item {width: 90%;}

.card_product {
    box-shadow: 0 1px 6px var(--sh-lighter);
    background-color: var(--light-l);
    margin: 15px 0;
    width: 100%;
    height: 570px;
    display: flex;
    flex-direction: column;
    transition: transform var(--tr-medium);
}

.card_product:hover {
    box-shadow: 0 1px 6px var(--sh-light);
    transform: scale(1.06);
}

.wrapper {
    width: 100%;
    height: 100%;
}

.swiper {
    overflow: hidden;
    position: relative;
}

.carousel_text {
    color: var(--light);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-tooltip);
}

.carousel_text h2 {
    opacity: .3;
    text-transform: uppercase;
    font-size: var(--fs-h3);
    font-weight: var(--fw-light);
}

.wrapper_inner {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wrapper .swiper-button-prev,
.wrapper .swiper-button-next,
.wrapper .swiper-pagination {
    visibility: hidden;
    opacity: 0;
    color: var(--light);
    transition: var(--tr-fast) ease;
}

.wrapper:hover .swiper-button-prev,
.wrapper:hover .swiper-button-next,
.wrapper:hover .swiper-pagination {
    visibility: visible;
    opacity: 1;
}

.wrapper .swiper-button-prev,
.wrapper .swiper-button-next {
    text-shadow: 0 1px 3px var(--sh-default);
    transition: var(--tr-fast);
}

.wrapper .swiper-button-prev:hover,
.wrapper .swiper-button-next:hover {
    text-shadow: 0 3px 3px var(--sh-default);
    color: var(--secondary);
}

.card_content {
    flex-grow: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.card_highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_highlight {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
}

.card_highlight i {
    font-size: var(--fs-h5);
    color: var(--dark);
}

.card_highlight h3 {
    color: var(--dark-l);
    font-weight: var(--fw-regular);
    font-size: var(--fs-p);
}

.card_description {
    margin: 9px 0;
    color: var(--dark-l);
    letter-spacing: 0;
    font-size: var(--fs-small);
}

.card_price {
    color: var(--dark);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-par);
}

.card_btn {
    cursor: pointer;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--light);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    margin: 12px auto 0;
    padding: 9px 21px;
    letter-spacing: 1.5px;
    transition: var(--tr-medium);
    z-index: var(--z-tooltip);
}

.card_btn:hover {
    background-color: var(--light);
    color: var(--primary);
}

/* Find */
#find {
    background-color: var(--primary);
    color: var(--light);
    margin: 15px 0;
    padding: 0 21%;
    width: 93%;
    height: 522px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#find p {
    margin: 39px 0;
    font-weight: var(--fw-light);
}

#find a {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
    text-transform: uppercase;
    padding: 12px 30px;
    font-size: var(--fs-h5);
    transition: var(--tr-fast);
}

#find a:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

/* About */
#arua_about {
    margin: 90px 0;
    padding: 0px 27% 0 30px;
    width: 93%;
}

#arua_about h3 {
    text-transform: uppercase;
    font-size: var(--fs-h3);
    font-weight: var(--fw-light);
}

#arua_about p {
    color: var(--dark-l);
    margin: 18px 0;
    line-height: 30px;
}

#arua_about ul {
    list-style: disc;
    margin: 15px 0;
}

#arua_about ul li {
    color: var(--dark-l);
    margin-left: 45px;
    line-height: 30px;
}

#arua_about span {
    color: var(--dark);
    font-weight: var(--fw-semi-bold);
}

/* Pages */
#pages {
    margin-top: 30px;
    width: 100vw;
    text-align: center;
}

#pages a {
    color: var(--grey);
    padding: 0 6px;
    font-size: var(--fs-h5);
}

#pages a.active, #pages a:hover {
    color: var(--primary);
}

/* == == == Media queries == == == */
/* For medium devices */
@media screen and (min-width: 576px) {
    .search {left: 45%;}
}

@media screen and (min-width: 768px) {
    /* Sub Header */
    #sub_header {
        padding: 9px 3%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
    }

    #sub_header a {
        padding: 0;
        font-size: var(--fs-small);
    }

    /* Tabs */
    .no_results {padding: 15px;}
    article.item {width: auto;}

    .card_product {
        margin: 15px;
        width: 330px;
        height: 522px;
    }
}

@media screen and (min-width: 768px) {
    .card_product {width: 390px;}
}

@media screen and (min-width: 1023px) {
    /* Sub Header */
    #sub_header {padding: 9px 12%;}

    /* Text */
    #text {padding: 90px 69px;}

    /* Tabs */
    .tabs_container > ul {
        margin-top: 0;
        width: 90%;
        height: 60px;
        flex-direction: row;
        top: -30px;
    }

    .tabs_container li {width: auto;}
    .tabs_container li  a{padding: 9px 12px;}
    
    .search {
        margin: 24px 0;
        font-size: var(--fs-h5);
        left: 0;
    }
    
    .search_btn.active {opacity: 0;}

    .close_btn.active {
        visibility: visible;
        opacity: 1;
        scale: 1;
        transition: var(--tr-medium);
    }

    .search_box {
        background-color: var(--light);
        margin: 0;
        padding: 0 21px;
        width: 100%;
        align-items: center;
        bottom: 0;
        right: -100%
    }

    .search_box.active {right: 0;}
    .search_box input {height: 40px;}

    .card_product {width: 300px;}
}

@media screen and (min-width: 1150px) {
    /* Sub Header */
    #sub_header {padding: 9px 15%;}

    /* Tabs */
    .tabs_container > ul {width: 45%;}
    .tabs_container li  a{padding: 12px 18px;}    
    .search_btn {left: 12px;}
    
    .card_product {width: 330px;}
}